@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-8" id="title">Welcome</h1>
    <button onclick="loadNewMap('befalkningsTathet.json', 'Befolkningstäthet 2022')">Befolkningstäthet</button>
    <button onclick="loadNewMap('befolkningsokning.json', 'Befolkningsförändring 2022')">Befolkningsförändring 2022</button>
    <button onclick="loadNewMap('medelalder.json', 'Medelålder 2022')">Medelålder</button>
    <button onclick="loadNewMap('medellivslangdKvinnor.json', 'Medellivslängd kvinnor 2022')">Medellivslängd kvinnor</button>
    <button onclick="loadNewMap('medellivslangdMan.json', 'Medellivslängd män 2022')">Medellivslängd män</button>
    <button onclick="loadNewMap('utrikesfodda.json', 'Utrikesfödda 2022')">Utrikes födda %</button>
    <button onclick="loadNewMap('aktenskapslangd.json', 'Äktenskapslängd 2022')">Äktenskapslängd</button>
    <button onclick="loadNewMap('bostadsAreaPerPerson.json', 'Bostads area per person 2022')">Bostadsarea per person</button>
    <button onclick="loadNewMap('bilarPer1000pers.json', 'Antal bilar per 1000 personer 2022')">Bilar/invånare</button>
    <button onclick="loadNewMap('andelensamhushall.json', 'Andel ensamhushåll 2022')">Andel i ensamhushåll</button>
    <button onclick="loadNewMap('personerPerHushall.json', 'Antal personer per hushåll i snitt 2022')">Personer per hushåll</button>
    <button onclick="loadNewMap('forvarvsinkomst20till64arMedelvarde.json', 'Förvarvsinkomst 20 till 64 år(Medelvarde) 2022' )">Förvarvsinkomst 20-64 år</button>
    <button onclick="loadNewMap('modernsAlderVidBarnafodsel.json', 'Moderns ålder vid födande 2022')">Ålder vid barnafödande</button>
    <button onclick="loadNewMap('antalFritidshus.json', 'Antal fritidshus 2022')">Antal fritidshus</button>
    <button onclick="loadNewMap('hyraPerKvm.json', 'Hyra per Kvm 2022')">Hyresrätters hyra per Kvm</button>
    <button onclick="loadNewMap('ojamnlikhetIInkomstInnomKommunGini.json', 'Gini 2022')">Ojamnlikhet i inkomst(Gini)</button>
    <div id="map"></div>
    <p class="min">min</p>
    <div class="scale"></div>
    <p class="max">max</p>
</div>

